# Extracting columns

We assigned the following column names:

In [4]:
planets.columns

Index(['name', 'solar_distance_km_6', 'mass_kg_24', 'density_kg_m3',
       'gravity_m_s2'],
      dtype='object')

`pandas` has constructed an `Index` for our columns. But we can get back our column list with the method `tolist()`:

In [5]:
planets.columns.tolist()

['name', 'solar_distance_km_6', 'mass_kg_24', 'density_kg_m3', 'gravity_m_s2']

So let's take a look at the first dimension of our data, the *features*, such as `name`.

In [6]:
planets.name

0    Mercury
1      Venus
2      Earth
3       Mars
4    Jupiter
5     Saturn
6     Uranus
7    Neptune
Name: name, dtype: object

Above, we've extracted from our data a one-dimensional sequence of the names of the planets in our solar system â€“ (even though there was no such list in our initial input data `planets_data`).

This sequence is of another data type provided by `pandas`: the `Series`.

In [7]:
type(planets.name)

pandas.core.series.Series

We can do the same for the next column, representing the distances of these planets from the sun, in 10<sup>6</sup> km.

In [8]:
planets.solar_distance_km_6

0      57.9
1     108.2
2     149.6
3     227.9
4     778.6
5    1433.5
6    2872.5
7    4495.1
Name: solar_distance_km_6, dtype: float64

And we can compute aggregates of this data, such as the average or *mean*.

In [9]:
planets.solar_distance_km_6.mean()

1265.4125000000001